body{font-size: 30px;
    background:url('../Images/Foto_Git.jpg') no-repeat;  
}

header
    {background-color: red;
    text-align: center;
    padding: 20px 0;
    margin: 0%;
    font-family: sans-serif;
    
    }

    footer{
        background-color: red;
        text-align: right;   
    }

    h2{
       color : red;
       text-align: center;
      }

      p{
          text-align: center;          
      }

      
      main{
          background-color: rgba(255, 255, 255, 0.5);
          padding: 80;
          background-size: cover;
          display: block;
          }

     p,ul{ 
         color: #fff
     } 

